body {
    display : flex;
    justify-content: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    height:100vh;
}
.button {
    background-color: rgb(104, 14, 221);
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer; 
    width: 100px; 
    height: 30px;
    color:#fff;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 200px;
}
